<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>


{% block body %}

<div class="centrer1"><h1>ETAT DES LIEUX</h1></div>
<div class="text1"><p>Etablie entre: </p>
</div>
<div class="text3">
    <p>Le centre BEAUVOIR</p>
</div>
<div class="text1">
    <p>Et</p>
</div>
<div class="text1">
    <p>Le stagiaire interne : </p>
</div>
<div>
<table class="table3">
    <tbody>
        <tr>
            <td class="table1">Nom : </td>
            <td class="table1">{{ etatlieux.nom }}</td>
            <td class="table1"></td>
            <td class="table1">Prénom : </td>
            <td class="table1">{{ etatlieux.prenom }}</td>
        </tr>
        <tr>
            <td class="table1">Section : </td>
            <td class="table1">{{ etatlieux.section }}</td>
        </tr>
    </tbody>
</table>
</div>
<div class="m-2 row">
    <div class="col-6">
        <p class="m-3">Numéro de chambre : {{ etatlieux.chambre.id }}</p>       
    </div>
    <div class="text4">Toute perte de clef, ainsi que de changement de serrure seront à la charge du stagiaire.</div>
    <div class="ecran3 col-12">
        <p class="w-50 m-4">Date d'entrée :  {{ etatlieux.dateEntree ? etatlieux.dateEntree|date('d-m-Y') : '' }}</p> 
     
    </div>
    <div class="w-100 d-flex flex-wrap m-1">
        <p>Neuf = N   - Bon état = BE  -  Etat d'usage = EU  -  Mauvais état = ME.</p>
        <table class="w-100">
            <thead>
                <tr>
                    <th colspan="3" class="text-center"><p> A L'ENTREE</p></th>
                  
                </tr>
            </thead>
            <tbody>
            <tr class="border border-dark color1">
                <td  colspan="12">
                    <p class="text-center">ENTREE</p>
                </td>
            </tr>
            <tr class="w-100 container">
                <td class="border border-dark ecran3 col-1"><p>Porte</p></td>
                <td class="border border-dark text-center ecran3 col-1">{{ etatlieux.entreePorteEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.entreePorteEntreeCommentaire }}</td>
            </tr>
            <tr class="w-100 container">
                <td class="border border-dark"><p>Sol</p></td>
                <td class="border border-dark text-center">{{ etatlieux.entreeSolEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.entreeSolEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Mur</p></td>
                <td class="border border-dark text-center">{{ etatlieux.entreeMurEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.entreeMurEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Plafond</p></td>
                <td class="border border-dark text-center">{{ etatlieux.entreePlafondEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.entreePlafondEntreeCommentaire }}</td>
            </tr>
            </tbody>
            <tr class="border border-dark color1">
                <td  colspan="12">
                    <p class="text-center">CHAMBRE</p>
                </td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Sol</p></td>
                <td class="border border-dark text-center">{{ etatlieux.chambreSolEntreeEtat }}</td>
                <td class="border border-dark col-md-4">{{ etatlieux.chambreSolEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Mur</p></td>
                <td class="border border-dark text-center">{{ etatlieux.chambreMurEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.chambreMurEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Plafond</p></td>
                <td class="border border-dark text-center">{{ etatlieux.chambrePlafondEntreeEtat }}</td>
                <td class="border border-dark">{{ etatlieux.chambrePlafondEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Fenêtre</p></td>
                <td class="border border-dark text-center">{{ etatlieux.chambreFenetresEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.chambreFenetresEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Prise interupteur</p></td>
                <td class="border border-dark text-center">{{ etatlieux.chambrePriseinterupteurEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.chambrePriseinterupteurEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Armoire</p></td>
                <td class="border border-dark text-center">{{ etatlieux.chambreArmoireEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.chambreArmoireEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Bureau</p></td>
                <td class="border border-dark text-center">{{ etatlieux.chambreBureauEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.chambreBureauEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Table chevet</p></td>
                <td class="border border-dark text-center">{{ etatlieux.chambreTablechevetEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.chambreTablechevetEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Chaise</p></td>
                <td class="border border-dark text-center">{{ etatlieux.chambreChaiseEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.chambreChaisesEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Lit ossature</p></td>
                <td class="border border-dark text-center">{{ etatlieux.chambreLitossatureEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.chambreLitossatureEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Matelas</p></td>
                <td class="border border-dark text-center">{{ etatlieux.chambreMatelasEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.chambreMatelasEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Oreiller</p></td>
                <td class="border border-dark text-center">{{ etatlieux.chambreOreillerEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.chambreOreillerEntreeCommentaire }}</td>

            </tr>
            <tr>
                <td class="border border-dark"><p>Prise téléphone</p></td>
                <td class="border border-dark text-center">{{ etatlieux.chambrePrisetelephoneEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.chambrePrisetelephoneEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Prise informatique</p></td>
                <td class="border border-dark text-center">{{ etatlieux.chambrePriseinformatiquetvEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.chambrePriseinformatiquetvEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Luminaire</p></td>
                <td class="border border-dark text-center">{{ etatlieux.chambreLuminaireEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.chambreLuminaireEntreeCommentaire }}</td>
            </tr>
            </tbody>
            <tr class="border border-dark color1">
                <td  colspan="12">
                    <p class="text-center">SALLE DE BAIN</p>
                </td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Sol</p></td>
                <td class="border border-dark text-center">{{ etatlieux.sdbSolEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.sdbSolEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Mur</p></td>
                <td class="border border-dark text-center">{{ etatlieux.sdbMurEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.sdbMurEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Plafond</p></td>
                <td class="border border-dark text-center">{{ etatlieux.sdbPlafondEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.sdbPlafondEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Interrupteurs</p></td>
                <td class="border border-dark text-center">{{ etatlieux.sdbPrisesinterrupteursEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.sdbPrisesinterrupteureEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Vasque lavabo</p></td>
                <td class="border border-dark text-center">{{ etatlieux.sdbVasquelavaboEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.sdbVasquelavaboEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Miroire</p></td>
                <td class="border border-dark text-center">{{ etatlieux.sdbMiroirEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.sdbMiroirEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Toilettes</p></td>
                <td class="border border-dark text-center">{{ etatlieux.sdbToilettesEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.sdbToilettesEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Toilettes</p></td>
                <td class="border border-dark text-center">{{ etatlieux.sdbAbattanttoilettesEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.sdbAbattanttoilettesEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Patere</p></td>
                <td class="border border-dark text-center">{{ etatlieux.sdbPatereEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.sdbPatereEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Douche</p></td>
                <td class="border border-dark text-center">{{ etatlieux.sdbDoucheEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.sdbDoucheEntreeCommentaire }}</td>
            </tr>
            <tr>
                <td class="border border-dark"><p>Pardouche</p></td>
                <td class="border border-dark text-center">{{ etatlieux.sdbPardoucheEntreeEtat }}</td>
                <td class="border border-dark ecran2">{{ etatlieux.sdbPardoucheEntreeCommentaire }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h2 class="m-3">OBSERVATIONS : </h2>
        <p class="text5">Le remplacement ou la réparation des équipements et mobilier dégradés seront facturés au stagiaire selon le tarif en vigueur à la date du départ et en fonction de la grille de vétusté.</p>
        <p class="mt-5">Je soussigné (e), stagiaire entrant, reconnais exacte l'état des lieux dressé lors de la remise des clefs et m'engage à prendre le logement en l'état.</p>

        <div class="d-flex justify-content-beetween w-100 m-5">
            <div class="w-50">
                <p>Le stagiaire</p>
                <table class="table3">
                    <tbody>
                        <tr>
                            <td class="table1">Nom : </td>
                            <td class="table1">{{ etatlieux.nom }}</td>
                        </tr>
                        <tr>
                            <td class="table1">Prénom : </td>
                            <td class="table1">{{ etatlieux.prenom }}</td>
                        </tr>
                        <tr>
                            <td class="table1">Section : </td>
                            <td class="table1">{{ etatlieux.section }}</td>
                        </tr>
                        </tr>
                    </tbody>
                </table> 
            </div>
            <div class="w-50">
                <p>Le centre</p>
                <p class="m-5">ESRP BEAUVOIR</p>
                <p class="m-5">Nom : {{app.user.nom}}</p>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-beetween">
            <div class="w-50">
                <p class="m-3">Date :  {{ etatlieux.dateEntree ? etatlieux.dateEntree|date('d-m-Y') : '' }}</p> 
                <p class="m-3">Signature</p>
            </div>
            <div class="w-50">
                <p class="m-4">Date :  {{ etatlieux.dateEntree ? etatlieux.dateEntree|date('d-m-Y') : '' }}</p>  
                <p class="m-3">Signature</p>
            </div>
        </div>
    </div>
<div class="text-center">
    <button onclick="window.print()" class="ecran">Imprimer</button>
    </div>
{% endblock %}
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>