    {% extends 'base.html.twig' %}
    


    {% block title %}Liste chambres{% endblock %}

    {% block body %}


    <div class="mb-3 mt-4 p-2">
        <h1 class="row h-100 justify-content-center fw-bold">Liste des chambres</h1>  
        
        <a href="{{ path('app_chambre_indexexport')}}" class="btn btn-success">Afficher avant l'export en excel</a>
        <table class="table table-bordered table-striped mt-3  table-hover"  data-toggle='tooltip' data-placement='top' title="Couleur rouge = soutirage d'eau à faire, vert=fait">
            <thead>
                <tr>
                    <th class="bg-primary text-white">Numéro</th>
                    <th class="bg-primary text-white">Date d'entrée</th>
                    <th class="bg-primary text-white">Nom</th>
                    <th class="bg-primary text-white">Statut</th>
                    <th class="bg-primary text-white">Soutirage d'eau</th>
                    <th class="bg-primary text-white">actions</th>
                </tr>
            </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr 
            {% if date(chambre.soutirageEau) < date('today')|date_modify('-15 days') or (chambre.soutirageEau == null and chambre.statut==false) %}
                class='table-danger'
            {% else %}
                class='table-success'
            {% endif %}
            >
                <td>{{ chambre.numero }}</td>
                <td>{{ chambre.dateEntree ? chambre.dateEntree|date('d-m-Y') : '' }}</td>
                <td>{{ chambre.nom }}</td>
                <td>{{ chambre.statut ? "Occupé" : "Vide" }}</td>
                <td>{{ chambre.soutirageEau ? chambre.soutirageEau|date('d-m-Y') : '' }}
                <td>
                    {% if is_granted('ROLE_GESTIONNAIRE') %}
                    <div class="btn-group" role="group">
                        <form action="{{ path('app_chambre_show', {'id': chambre.id}) }}" onsubmit="return confirm('Vous allez accéder aux informations de la chambre :')">
                        <button class="btn btn-info me-1" data-toggle='tooltip' data-placement='top' title='Voir la chambre n°{{chambre.numero}}'><i class="fa-solid fa-eye"></i></button>
                        </form>
                        {{include("chambre/_change_status.html.twig")}}
                        {{include("chambre/_change_soutirage_eau.html.twig")}}
                        
                        <form  action="{{ path('app_chambre_edit', {'id': chambre.id}) }}">
                        <button class="btn btn-warning  me-1"><i class="fa-solid fa-bed"></i> Modifier chambre</button>
                        </form>
                        <form  action="{{ path('app_chambre_occupant_edit', {'id': chambre.id}) }}">
                        <button class="btn btn-warning"><i class="fa-solid fa-person-half-dress"></i> Modifier occupant</button>
                        </form>
                    </div>
        {% endif %} 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    

    <a href="{{ path('app_chambre_new') }}">Créer une chambre</a>

    
    </div>

    {% endblock %}