    {% extends 'base.html.twig' %}

    {% block title %}Liste chambres{% endblock %}

    {% block body %}
    
    <div class="mt-4">
        <h1 class="row h-100 justify-content-center fw-bold">Liste des chambres</h1>   
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-light">
                <tr>
                    {# <th>Id</th> #}
                    <th>Numero</th>
                    <th>DateEntree</th>
                    <th>Section</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Handicap</th>
                    <th>Capacite_lit</th>
                    <th>Batiment</th>
                    <th>Etage</th>
                    <th>Statut</th>
                    <th>Soutirage d'eau</th>
                    <th>actions</th>
                </tr>
            </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr 
            {% if date(chambre.soutirageEau) < date('today')|date_modify('-15 days') or chambre.soutirageEau == null %}
                class='table-danger'
            {% else %}
                class='table-success'
            {% endif %}
            >
                {# <td>{{ chambre.id }}</td> #}
                <td>{{ chambre.numero }}</td>
                <td>{{ chambre.dateEntree ? chambre.dateEntree|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ chambre.section }}</td>
                <td>{{ chambre.nom }}</td>
                <td>{{ chambre.prenom }}</td>
                <td>{{ chambre.handicap }}</td>
                <td>{{ chambre.capaciteLit }}</td>
                <td>{{ chambre.batiment }}</td>
                <td>{{ chambre.etage }}</td>
                <td>{{ chambre.statut ? "Occupé" : "Vide" }}</td>
                <td>{{ chambre.soutirageEau ? chambre.soutirageEau|date('Y-m-d') : '' }}
                
                <td>
                    <a href="{{ path('app_chambre_show', {'id': chambre.id}) }}" class="btn btn-info btn-sm" >Voir</a>
                    <a href="{{ path('app_chambre_edit', {'id': chambre.id}) }}" class="btn btn-warning btn-sm">Modifier chambre</a>
                    <a href="{{ path('app_chambre_occupant_edit', {'id': chambre.id}) }}" class="btn btn-warning btn-sm">Modifier occupant</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chambre_new') }}">Créer une chambre</a>
    </div>

    {% endblock %}