{% extends 'base.html.twig' %}

{% block title %}Chambre{% endblock %}

{% block body %}
{# <pre>
    {{ dump(chambre.id) }}
</pre> #}
<div class="container my-5">
    <div class="row">
        <div class="col-12">

            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered mt-4  table-hover">
                        <tbody>
                            <h2 class="text-center">Descriptif chambre</h2>
                            <tr>
                                <th>Chambre :</th>
                                <td>{{ chambre.numero }}</td>
                            </tr>
                            <tr>
                                <th>Batiment</th>
                                <td>{{ chambre.batiment }}</td>
                            </tr>
                            <tr>
                                <th>Etage</th>
                                <td>{{ chambre.etage }}</td>
                            </tr>
                            <tr>
                                <th>Capacite_lit</th>
                                <td>{{ chambre.capaciteLit }}</td>
                            </tr>
                            
                            <tr>
                                <th>Statut :</th>
                                <td>{{ chambre.statut ? 'Occupé' : 'Vide' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered mt-4  table-hover">
                        <tbody>
                        <h2>Occupant :</h2>
                            <tr>
                                <th>DateEntree</th>
                                <td>{{ chambre.dateEntree ? chambre.dateEntree|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ chambre.nom }}</td>
                            </tr>
                            <tr>
                                <th>Prenom</th>
                                <td>{{ chambre.prenom }}</td>
                            </tr>
                            <tr>
                                <th>Section</th>
                                <td>{{ chambre.section }}</td>
                            </tr>
                            <tr>
                                <th>Handicap</th>
                                <td>{{ chambre.handicap }}</td>
                            </tr>
                            <tr>
                                {# <th>Présent :</th>
                                <td>oui</td> #}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mt-3">
                {{ include('chambre/_change_status.html.twig') }}
         
                
                {% set test = false %}
                {% set id = null %}
                {% for edl in chambre.etatslieux %}
                    {% if (edl.isStatut == 0) %}
                        {% set test = true %}
                        {% set id = edl.id %}
                    {% endif %}
                {% endfor %}
                {% if (chambre.nom != null) and (chambre.prenom != null) and (chambre.section != null) and (chambre.dateEntree != null) %}
                    {% if test == false or chambre.etatslieux|length == 0 %}
                    <a href="{{ path('app_etatlieux_new', {'id': chambre.id}) }}" class="btn btn-warning"><i class="fas fa-plus"></i> créer état lieux</a>
                    {% else %}
                    <a href="{{ path('app_etatlieux_edit', {'id': id}) }}" class="btn btn-primary">Faire état sortie</a>
                    {% endif %}
                {% endif %}
                
            </div>
            <h2 class="mt-4">Historique :</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Nom</th>
                        <th class="w-25 text-center">Date d'entrée</th>
                        <th class="w-25 text-center">Date de sortie</th>
                        <th class="text-center">Statut</th>
                        <th></th>
                        <th class="w-25 text-center">Voir état des lieux</th>
                    </tr>
                </thead>
                <tbody>
            {% for edlh in chambre.etatslieux|slice(0,5) %}
            
            {% if edlh  %}
           
                    <tr>
                       <td class="p-3">{{ edlh.nom }}</td>
                       <td class="p-3">{{ edlh.dateEntree ? edlh.dateEntree|date('d-m-Y') : '' }}</td>
                       <td class="p-3">{{ edlh.dateSortie ? edlh.dateSortie|date('d-m-Y') : '' }}</td>
                       <td>{{ edlh.caution ? "Restituée" : "Retenue" }}</td>
                            
                       <td class="p-3"> {% if edlh.caution == 0 %}
                                {{include("chambre/_caution.html.twig")}} 
                            {% endif %}
                        </td>
                        <td class="p-3"><a class="btn bg-success d-flex justify-content-center text-white" href="{{ path('app_etatlieux_show', {'id': edlh.id}) }}">Voir</a></td>
                    </tr>
                
                
                
                    
                    {% endif %}
                    {% endfor %}
                </tbody>
          </table>
          
            <a href="{{ path('app_chambre_index') }}">Retour à la liste</a>

                    <a href="{{ path('app_chambre_edit', {'id': chambre.id}) }}" class="btn btn-warning btn-sm">Modifier la chambre</a>            
                    <a href="{{ path('app_chambre_occupant_edit', {'id': chambre.id}) }}" class="btn btn-warning btn-sm">Modifier l'occupant</a>
        </div>
    </div>
</div>


{{ include('chambre/_delete_form.html.twig') }}

{% endblock %}